

<div class="mt-10">
    
    <div class="text-center">
        <div id="containerTablaDescargar">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Extensión</td>
                        <td>Fecha de Entrada</td>
                        <td>Tamaño</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="bodyTablaDescargar">

                </tbody>
            </table>

        </div>

    </div>
</div>
