@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="mt-10 text-center">
        <input type="file" multiple id="inputSubirArchivos" />
        <br /><br />

        <div id="loaderArchivos"></div>

        <div id="btnSubirArchivos" class="container-btn-subir-archivos">
            <button class="btn btn-success btn-comprobar" onclick="subirArchivos()">Enviar al Servidor</button>
        </div>
    </div>
    <br />

</div>